# for git-changelog (https://github.com/dannyben/git-changelog)
export CHANGELOG_COMMIT_URL=https://github.com/DannyBen/dot_options/commit/%h
export CHANGELOG_COMPARE_URL=https://github.com/dannyben/dot_options/compare/%s

# include the debug gem
export DEBUGGER=1
